#card {
	max-width: 320px;
	border: 1px solid #C0C0C0;
	padding-bottom: 10px;
	font-family: Helvetica;
	font-size: small;
	box-shadow: 0px 4px 10px #C0C0C0, 
        -1px 1px 3px #E8E8E8, 1px 1px 3px #E8E8E8;
}
#card img {
	width: 100%;
}
.heading {
	font-size: x-large;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 7px;
}
.imagetitle {
	max-width: 300px;
	margin: auto;
	padding-bottom: 7px;
}
.infoboxsize {
	max-width: 298px;
	margin: auto;
	border: 1px solid #C0C0C0;
}
.textinfo {
	padding-left: 7px;
	padding-right: 7px;
}
.description {
	font-style: italic;
}
.facts {
	list-style-type: none;
	padding: 0px;
}
.minorlabel {
	font-weight: bold;
	font-style: normal;
}